body#blog {
    display: flex;
    flex-direction: column;


    header {
        text-align: center;
        padding: 3em 1em;
        margin: 1em 0;

        border-bottom: var(--fg-color) 5px solid;
    }

    main {
        flex-grow: 2;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 66ch;

        padding: 0 1em;

        * {
            padding: 1em 3px;
        }

        ul {
            padding-left: 1em;
        }

        .astro-code {
            border-radius: 3px;
        }
    }
}