---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not Found">
  <main class="h-full flex justify-center items-center">
    <div
      class="grid grid-flow-row place-items-center p-16 bg-foreground text-primary rounded-lg"
    >
      <a href="/" class="w-full">
        <img src="/snorkungen.line.svg" alt="Logo" class="w-full" />
      </a>
      <h1 class="font-bold text-3xl text-center">Error: 404 Page Not Found</h1>
    </div>
  </main>
</Layout>
