---
import Head from "@components/Head.astro";
import ProjectCard, { ProjectCardProps } from "@components/ProjectCard.astro";
import Welcome from "@components/Welcome.astro";
import Blog from "@components/Blog.astro";
import Footer from "@components/Footer.astro";

const projects: ProjectCardProps[] = [
    {
        name: "Gilbert",
        description: "A web app that allows you to group and save urls.",
        link: "https://gilbrt.net",
    },
    {
        name: "Color Picker",
        description: "A page built with HTML, CSS and JS that allows you to find RGB colors.",
        link: "https://snorkungen.github.io/clrpicker/",
    },
    {
        name: "Encrypted File Share App",
        description: "An app that allows the user to encrypt and decrypt a file on the client. And then store the the encrypted file on a server.",
        link: "https://github.com/Snorkungen/encrypted-file-share-app",
    },
    {
        name: "My Blog",
        description: "Me honestly just practicing markdown.",
        link: "#blog",
    },
];

const posts = await Astro.glob<{
    title: string;
    date: string;
    draft?: string;
}>("../pages/blog/*.md");
---

<!DOCTYPE html>
<html lang="en">
    <Head>
        <title>Jonne Oke's UnSmart Site</title>
    </Head>

    <body>
        <Welcome>
            {projects.map((project) => <ProjectCard {...project} />)}
        </Welcome>
        <Blog />
        <Footer />
    </body>
</html>
