---
import Layout from "../layouts/Layout.astro";

const pages = [
  {
    url: "/blog",
  },
  {
    url: "/projects",
  },
];
---

<Layout title="Jonne Oke UnSmart Site">
  <div class="w-full h-full grid place-items-center">
    <main class="w-full">
      <div
        class="text-center font-semibold sm:text-9xl text-6xl py-8 border-b-4 border-b-foreground-1"
      >
        <h1>Jonne Oke</h1>
      </div>
      <div class="sm:w-2/3 block mx-auto my-6 text-center">
        <p class="p-4">Hello, I enjoy writing Typescript.</p>

        <div class="flex items-center justify-around mt-10 underline">
          {
            pages.map(({ url }) => (
              <a
                href={url}
                class="transition-colors hover:text-foreground-4 font-semibold"
              >
                {url}
              </a>
            ))
          }
        </div>
      </div>
    </main>
  </div>
</Layout>

<script>
  console.log();
</script>
