---
import BlogCard from "./BlogCard.astro";



const posts = (await Astro.glob<{
    title: string;
    date: string;
    draft?: string;
}>("../pages/blog/*.md"))
    .filter(({ frontmatter: { draft } }) => !draft)
    .map(({ frontmatter, url }) => ({
        url,
        title: frontmatter.title,
        date: new Date(frontmatter.date)
    }));
---

<style lang="scss">
    #blog {
        width: 100%;
        text-align: center;

        > h1 {
            margin: 1em 0;
        }

        >div {
            display: grid;
            grid-column: 1fr;
            grid-auto-flow: row;
            place-items: center;
        }
    }
</style>

<div id="blog">
    <h1>My Blog Posts</h1>
    <div>
        {posts.map((post) => (
        <BlogCard {...post} />
        ))}
    </div>
</div>