---
export type BlogCardProps = {
    title: string;
    date: Date;
    url: string;
}

const { title, url } = Astro.props as BlogCardProps;
---

<style lang="scss">
    .blog-card {
        margin: 1em auto;

        width: 100%;
        max-width: 400px;

        >a {
            color: var(--acc-color);
            display: block;

            width: fit-content;
            margin: auto;
            margin-right: 0;
        }
    }
</style>

<div class="blog-card">
    <h2>{title}</h2>
    <a href={url}>Read..</a>
</div>