---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div
	class="relative sm:first-of-type:col-span-2 p-3 rounded-md bg-foreground text-background"
>
	<h1 class="text-primary font-semibold text-2xl">
		{title}
	</h1>
	<p class="ml-2 p-4 mb-5">{body}</p>
	<a
		class="underline text-xl transition-colors font-bold text-secondary hover:text-secondary-4 absolute right-4 bottom-2"
		href={href}
	>
		Go To
	</a>
</div>
