---

---

<style lang="scss">
    footer {
        p {
            float: right;
            margin: 0 10% 0 0;

            span {
                color: var(--fg-color);
            }
        }
    }
</style>

<footer>
    <slot />
    <p>Oghenochuko <span>Jonne</span> Nikanor <span>Oke</span></p>
</footer>