---

---

<style lang="scss">
    header {
        width: 100%;
        padding: 0 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 4em;
            position: relative;
            width: fit-content;
            margin: 0 0 1em;

            >span {
                color: var(--fg-color);
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                right: 0;
                bottom: 0;
                height: 3px;
                border-radius: 3px;

                background-color: var(--acc-color);
                animation: AnimateNameLine 10s infinite alternate-reverse linear;

                @media (max-width:800px) or (prefers-reduced-motion) {
                    animation: none;
                    left: 0;
                    content: unset;
                }

            }

            @keyframes AnimateNameLine {
                from {
                    left: 50%;
                    right: 0;
                }

                to {
                    left: 0;
                    right: 50%;
                }
            }
        }

        ul {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10%;
            list-style: none;

        }
    }
</style>


<header>
    <h1>Jonne <span>Oke</span></h1>
    <ul></ul>
</header>